.welcome {
	width: 40em;
	position: absolute;
	top: 20%;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.welcome__logo {
	display: block;
	height: 8em;
	background-image: url('../images/savelioLogo.svg');
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: $default-spacing-unit;
}

.welcome__motto {
	@include font-size(20px);

	font-weight: 200;
	color: $text-primary;
	margin-bottom: $default-spacing-unit * 2;
	text-align: center;
}