<select class="selectbox__select" name="category" placeholder="Category" ng:model="saveCtrl.data.category">
	<option value="books and magazines">Books and Magazines</option>
	<option value="car">Car</option>
	<option value="clothes">Clothes</option>
	<option value="electronics">Electronics</option>
	<option value="entertainment">Entertainment</option>
	<option value="food">Food</option>
	<option value="general">General</option>
	<option value="household supplies">Household Supplies</option>
	<option value="holidays">Holidays</option>
	<option value="travel">Travel</option>
	<option value="utilities and bills">Utilities and Bills</option>
</select>