@keyframes iconIn {
    from { transform: rotate(0deg); }
    to { transform: rotate(90deg); }
}

@keyframes iconOut {
    from { transform: rotate(90deg); }
    to { transform: rotate(0deg); }
}

@keyframes ripple-animation {
    from {
      transform: scale(0);
      opacity: 0.4;
    }
    to {
      transform: scale(1.8);
      opacity: 0;
    }
}