/**
 * Base styles
 */ 

* {
    box-sizing: border-box;
}

html {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	height: 100%;
}

body {
	height: 100%;
	margin: $main-header-height auto 0 auto;
	padding: $main-header-height $default-spacing-unit;
	background-color: #fff;

	@include mq($until: $mobile-landscape-w) {
		margin-top: $main-header-height * 2;
	}
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

svg {
	padding: 0;
	margin: 0;
	border: 0;
	display: inline-block;
	vertical-align: top;
}
