/**
 * Mixins
 */

/**
 * Font size with vertical rhytm.
 * Thanks to Harry Roberts (inuit.css).
 */
@mixin font-size($font-size, $line-height: auto) {
    @if global-variable-exists(base-font-size) and global-variable-exists(base-line-height) {
        font-size: ($font-size / $base-font-size) * 1rem;

        @if $line-height == auto {
            line-height: ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
        }

        @else {
            @if (type-of($line-height) == number) {
                line-height: $line-height;
            }

            @elseif ($line-height != none and $line-height != false) {
                @warn "'#{$line-height}' is not a valid 'line-height' value."
            }
        }
    }

    @else {
        @warn "'$base-font-size' or '$base-line-height' is not defined."
    }
}
