$brand-primary: #16a085;          // Main brand color - green sea
$brand-secondary: #27B5E1;        // Blue - mostly buttons, CTA
$brand-text-primary: #303333;
$brand-tertiary: #00bcd4;

$brand-light-grey: lighten(#000000, 95%);
$brand-border: darken($brand-light-grey, 20%);