<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Savelio.com</title>
    <meta name="description" content="Money management and budgeting tool for financial freedom">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

    <meta http-equiv="cleartype" content="on">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="google-site-verification" content="K2z83hXm2jEAfofjrirmqz1sGLXUDwxIRaMsV7EEkmg" />

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="<%= assets %>/css/main<%=assetsCSS%>">
</head>