%formelement {
	@include font-size(15px, 2);

	background-color: #ffffff;
	border: 1px solid $brand-border;
	border-radius: $border-radius;
}

.input {
	@extend %formelement;

	padding: $default-spacing-unit / 6 $default-spacing-unit / 3;
}

.select {
	@extend %formelement;

	height: 36px;
	padding: $default-spacing-unit / 6 $default-spacing-unit / 3;
}

.selectbox {
	@extend %formelement;

	padding-left: .9em;
}

.selectbox__select {
	@include font-size(15px, 2.5);

	width: 100%;
	border: 0;
	background: transparent;
}