.radiogroup {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.radio-wrap {
	position: relative;
	z-index: 2;
}

.radio {
	position: absolute;
	left: -9999px;
	visibility: hidden;

	&:not(:checked)+label:before {
		border: 2px solid $brand-border;
		background-color: transparent;
	}

	&:checked+label:before {
		border: 2px solid $brand-tertiary;
		background-color: $brand-tertiary;
	}
}

.radio__label {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding-left: $default-spacing-unit * 1.2;
	margin-right: $default-spacing-unit / 2;
	cursor: pointer;
	line-height: 28px;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		margin: 6px;
		width: $default-spacing-unit / 2;
		height: $default-spacing-unit / 2;

		border-radius: 50%;

		transition: 250ms ease;
	}
}