$btn-icon-size--small: $default-spacing-unit * 1.3;
$btn-icon-size--large: $default-spacing-unit * 1.6;
$btn-padding--default: $default-spacing-unit / 3 + 1;
$btn-padding--xsmall: $default-spacing-unit / 9;
$btn-padding--small: $default-spacing-unit / 5;
$btn-padding--large: $default-spacing-unit / 2;

.btn,
%btn {
	padding: $btn-padding--default $btn-padding--default * 2;
	box-sizing: border-box;
	position: relative;
	background-color: #fff;
	border-color: $brand-light-border;
	color: $brand-delta;
	vertical-align: middle;

	&:hover {
		background-color: $brand-light-active;
		border-color: $brand-light-border-active;
	}

	transition: background-color .2s ease-in-out 0s;
}

.btn--xsmall {
	@include font-size(14px, 1);

	padding: $btn-padding--xsmall $btn-padding--xsmall * 2;
}

.btn--small {
	@include font-size(14px);

	padding: $btn-padding--small $btn-padding--small * 2;
}

.btn--large {
	@include font-size(20px);

	padding: $btn-padding--large $btn-padding--large * 2;
}

.btn--primary {
	color: #fff;
	background-color: $btn-primary;
	transition: background easeIn 250ms;
	border: 1px solid $btn-primary;

	&:hover {
		background-color: $btn-primary-hover;
		border-color: $btn-primary-hover;
	}
}

.btn--icon {
	background-color: transparent;

	svg {
		height: 100%;
		background: transparent;
		fill: $brand-delta;
		transition: background easeIn 250ms;
		vertical-align: bottom;
	}

	&:hover {
		background-color: transparent;

		svg {
			fill: $brand-primary;
		}
	}
}

.btn--ui {
	width: 16px;
	height: 18px;
	padding: 0;
	margin-left: 6px;
	border: 0;
}

.btn--uistop {
	svg {
		height: 88%;
	}
}

%btn-active {
	background-color: $brand-primary;
	border: 1px solid $btn-border;

	svg {
		fill: #fff;
	}
}

.btn--uilarge {
	@extend %btn--pill;

	width: $btn-icon-size--large;
	height: $btn-icon-size--large;
	padding: 0;
	background-color: #fff;
	border: 1px solid $brand-primary;
	box-sizing: content-box;

	svg {
		width: 65%;
		fill: $brand-primary;
		vertical-align: middle;
	}

	&:hover {
		@extend %btn-active;

		border-color: $brand-primary;
	}

	&.is-disabled {
		border-color: grey;
		transition: none;

		svg,
		:hover & {
			fill: grey;
			background-color: #fff;
		}

		svg {
			background: transparent;
		}
	}
}

.btn__linkWrap {
	display: block;
	width: 100%;
	height: 100%;
}

.btn--link {
	line-height: 2.5;

	&.is-active {
		@extend %btn-active;

		border-color: $brand-primary;
	}
}

// 1, 2. Because border on btn affects abs positioning
.btn__ripple {
	@extend %btn--pill;

	position: absolute;
	top: -1px;  // [1]
	left: -1px; // [2]
	width: $btn-icon-size--large;
	height: $btn-icon-size--large;
	background: black;//$brand-primary-active;
	opacity: 0;


	animation: ripple-animation 500ms;
}

.btn--login {
	max-width: 17em;
	margin: $default-spacing-unit / 3;
	box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, .05);

	svg {
		width: 1.5em;
		vertical-align: middle;
		fill: #fff;
	}

	@include mq($until: $mobile) {
		margin: 0 auto $default-spacing-unit / 3 auto;
	}
}

.btn--google {
	background-color: #fff;

	&:hover {
		background-color: #f8f8f8;
	}
}

.btn--fb {
	background-color: #3e5b97;
	border-color: #3e5b97;

	&:hover {
		background-color: darken(#3e5b97, 10%);
		border-color: darken(#3e5b97, 10%);
	}
}

.btn__text {
	@include font-size(14px);

	display: inline-block;
	color: #adadad;
	font-weight: 200;
	line-height: 1;
	text-transform: uppercase;
	margin: .2em 0 0 .5em;
	vertical-align: inherit;
}

.btn__text--light {
	color: #fff;
}