.info {
	@extend %btn--pill;
	@include font-size(10px, 1);

	padding: 0 $default-spacing-unit / 2;
	margin-left: $default-spacing-unit / 2;
	background-color: $brand-primary;
	text-align: center;
	color: #fff;
	font-style: italic;
}